#in{
    display: none;
}
#print{
  position: fixed;
  top:0;
  left: .4;
}
@media print{

    #navbar{
      display: none;
    }
    #footer{
        color:rgb(136, 39, 227);
      font-size: '20px';
   
    }
    #outprint,#next,#pre{
      display: none;
    }
    #in,#b{
        display: block;
    }
  }