#mainfoot{
  display: none;
}


@media print{
  #navbar,#copy{
    display: none;
  }
  #footer{
    font-size: '10px';
    font-weight: 100;
    position: fixed;
    bottom: 0;
    color: aquamarine;
    display: none;
  }
  .outprint{
    display: none;
  }
  #mainfoot{
    display: block;
position: fixed;
width: 100%;
bottom:0;
  }

}
