@media print{
  #navbar,#copy{
    display: none;
  }
  #footer{
    font-size: '10px';
    font-weight: 100;
    position: fixed;
    bottom: 0;
    color: aquamarine;
  }
  .outprint{
    display: none;
  }

}